<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>BlueZ IoT Agent</title>
    <meta name="description"
	  content="User interface for the BlueZ IoT Agent" />
    <meta name="author" content="Ethan D. Twardy <ethan.twardy@gmail.com>" />

    <style type="text/css">
      {{styles}}
    </style>
  </head>
  <body>
    <h1>Bluetooth Pairing</h1>
    <form action="" method="POST">
      <button>{{action}}</button>
    </form>
  </body>
</html>
